// Global Foundation Settings
@import "settings";
// Comment out this import if you don't want to use normalize
@import "normalize";
@import "foundation";

#list-classified {
  margin-top: 1em;
  li {
    list-style: none;
  }
  div {
    //border: 1px solid;
    margin: 0px;
  }
  .columns {
    height: 100%;
    padding: 0;
  }
  .panel {
    margin-bottom: 0.5em !important;
    padding: 0;
  }
  .date-classified {
    text-align: right;
    padding-right: 0.5em;
  }
  .label {
    margin-right: 0.5em;
  }
  .icon-classified {
    padding: 5px !important;
    i {
      font-size: 30px;
      margin-right: 0.5em !important;
      color: $no-color;
    }
  }
}

.add-button {
  $radius: 5em;
  @extend .secondary;
  @extend button;
  @extend .round;
  @extend .tiny;
  padding: 0.5em;
  height: 30px;
  width: 30px;
  i {
    font-size: 15px;
    height: 20px;
    width: 20px;
  }
}

.tag {
  @extend .label;
  margin: 0.5em;
  padding-left: 1em;
  padding-right: 0.2em;
  line-height: 18px;

  i {
    font-size: 20px;
    margin-left: 0.1em;
    color: white;
    visibility: hidden;
  }

  &:hover {
    cursor: pointer;
    i {
      visibility: visible;
    }
  }
}

.removable-tag {
  @extend .tag;
  &:hover {
    background-color: red;
  }
}

.addable-tag {
  @extend .tag;
  i {
    font-size: 15px;
  }

  &:hover {
    background-color: green;
  }
}

.added-tag {
  @extend .addable-tag;
  background-color: green;
  &:hover {
    cursor: default;
    i {
      visibility: hidden;
    }
  }
  i {
    visibility: hidden;
  }
}








