<div class="row">
    Titre: <input ng-model="title" type="text" name="fname"></div>
<div class="row">
    Description: <textarea ckeditor ng-model="description" type="text" name="fname"></textarea></div>
<div class="row"> tags:
    <span data-tagchoose></span>
</div>
<div class="row"> departement:
    <span data-departmentchoose></span>
</div>
<div class="row"> disponibilite:
    <span data-calendarchoose></span>
    <hr/>
</div>
<a data-ng-click="saveClassified()" class="small button right">Creer annonce</a>
</div>