<div class="row">
    <div class="large-12 columns">
        <h3>Bienvenu sur CoopArt, le site de regroupement d'artistes </h3>

        <p>Vous pouvez <a href="#/create" class="small button">creer une annonce</a> ou regarder les annonces existantes
            pour trouver vos prochains associés de votre projet artistique</p>
        <hr/>
    </div>
    <div class="large-12 columns">

        <div class="row">
            <div class="small-12 columns"> Recherche par tags:

                <span data-tagchoose></span></div>
            <div class="small-12 columns"> Recherche par departement:

                <span data-departmentchoose></span></div>
            <div class="small-12 columns"> Recherche par disponibilite:

                <span data-calendarchoose></span>

                <a data-ng-click="searchAllClassifieds()" class="small button right">Relancer recherche</a>
                <hr/>
                {{test}}
            </div>

        </div>


        <div class="row">
            <div class="small-12 columns">Filtrer dans le titre <input ng-model="search.title"><br></div>
        </div>


        <ul id="list-classified">
            <li data-ng-repeat="classified in classifieds | filter:search">
                <div class="panel">
                    <div class="row">
                        <div class="small-3 columns icon-classified">
                            <i  class="fi-music"></i></div>
                        <div class=" small-9 columns">

                            <div class="row">
                                <div class="small-12 columns"><a href="#/classifieds/{{classified.id}}/posts">{{classified.title}}</a></div>
                            </div>
                            <div class="row">
                                <div class="small-9 columns">

                                <span ng-repeat="tag in classified.relatedTags ">
                                    <a href="#search/{{tag.name}}" class="tiny button">{{tag.name}}</a> </span>
                                </div>
                                <div class="small-3 columns date-classified">22-22-22</div>
                            </div>
                        </div>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>