<div class="row">
    <div class="large-12 columns">

        <div class="row">
            <div class="small-12 columns"> Recherche par tags:

                <span data-tagchoose></span>

                <a href="#search/{{href}}" class="small button right">Relancer recherche</a>
                <hr/>
                {{test}}
            </div>

        </div>


        <div class="row">
            <div class="small-12 columns">Filtrer dans le titre <input ng-model="search.title"><br></div>
        </div>


        <ul id="list-classified">
            <li data-ng-repeat="classified in classifieds | filter:search">
                <div class="panel">
                    <div class="row">
                        <div class="small-3 columns icon-classified">
                            <i ng-repeat="criteria in classified.criterias" class="{{criteria.class}}"></i></div>
                        <div class=" small-9 columns">

                            <div class="row">
                                <div class="small-12 columns">{{classified.title}}</div>
                            </div>
                            <div class="row">
                                <div class="small-9 columns">

                                <span ng-repeat="label in classified.labels | filter:searchlabel">
                                    <a href="#search/{{label.title}}" class="tiny button">{{label.title}}</a> </span>
                                </div>
                                <div class="small-3 columns date-classified">{{classified.date}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>